[Unit]
Description=Foreman integration for Puppetserver

[Service]
Type=simple
ExecStart=/usr/bin/psfd %i
EnvironmentFile=/etc/psf/credentials

User=foreman-proxy

# TODO: Some of these are unknown on EL7
#RestrictAddressFamilies=AF_(INET|INET6)
RestrictNamespaces=yes
PrivateDevices=yes
PrivateMounts=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=full
CapabilityBoundingSet=

[Install]
WantedBy=sockets.target
